:root {
  /* COLORS */
  --main-color: #434455;
  --dark-grey: #2e2f42;
  --blue: #4d5ae5;
  --bg-grey: #f4f4fd;
  --white: #ffffff;
  --hover: #404bbf;
  --border: #e7e9fc;

  /* FONT-FAMILY */
  --roboto: 'Roboto', sans-serif;
  --raleway: 'Raleway', sans-serif;
}
/* DEFAULT */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

body {
  background-color: var(--white);
  color: var(--main-color);
  font-family: var(--roboto);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 120px 0;
}
.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--border);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-contacts {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}
.logo {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue);

  margin-right: 76px;
}

.logo-span {
  color: var(--dark-grey);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--hover);
}
.contacts {
  font-style: normal;
}
.contacts-link {
  color: var(--main-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--hover);
}
.hero {
  background-color: var(--dark-grey);
  padding: 188px 0;
  text-align: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;

  max-width: 496px;
  margin: 0 auto 48px;
}
.hero-btn {
  background-color: var(--blue);
  border: none;
  color: var(--white);
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  min-width: 169px;
  height: 56px;
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover);
}

.subtitle {
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.title {
  color: var(--dark-grey);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-h3 {
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-descr {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team-section {
  background-color: var(--bg-grey);
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-item {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card-content {
  padding: 32px 0;
  text-align: center;
}

.our-team-role {
  text-align: center;
}
.our-team-name {
  margin-bottom: 8px;
  text-align: center;
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--border);
  border-top: none;
}
.portfolio-item-h3 {
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  width: calc((100% - 48px) / 3);

  margin-bottom: 8px;
}

.footer {
  background-color: var(--dark-grey);
  padding: 100px 0;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: var(--bg-grey);
}

.footer-corp {
  max-width: 264px;
  color: var(--bg-grey);
}
